---
import Layout from '../layouts/BlogPreview.astro';
---

<style>
   h1 {
      text-align: center;
   }
   hr {
      padding-bottom: 1rem;
   }
</style>
<Layout title="About Me">
   <main class="prose">
      <h1>About Me</h1>
      <hr />
      <p>
         I'm a Software Developer with 5+ years of 'full stack' experience. I have a real passion
         for frontend development, but I also strongly enjoy API development & design, and DevOps
         work. I like to know & understand the full life cycle of products I'm working on
         front-to-back, the build/release process, and the environment where it's running.
      </p>

      <p>
         My frontend development experience started with the 'OGs' such as JQuery, KnockOutJS,
         ASP.NET MVC (on .Net Framework, still going strong!), and AngularJS (note the 'JS' - this
         was pre-TypeScript).
         <br />
         Throughout my career, I have also spent a lot of time developing in Angular (v2+) using TypeScript,
         so I have a strong understanding of modern frontend frameworks, but a deep appreciation for
         the underlying functionality ('vanilla JS' some would say).
      </p>

      <p>
         My professional work has largely kept me in the Microsoft-sphere of things — my primary
         backend language is C#, but I have worked with Java, Python, and even some Terraform when
         needed.
      </p>

      <p>I'm Azure Fundamentals (AZ-900) and Azure Developer Associate (AZ-204) certified.</p>

      <p>Oh, and I use Neovim, btw.</p>
   </main>
</Layout>
