---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Carosel from '../components/Carosel.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
   <head>
      <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
      <style>
         main {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            min-height: 80vh;
            min-height: 80dvh;
         }
      </style>
   </head>
   <body>
      <Header />
      <main>
         <div class="flex flex-row gap-1 p-0 m-0">
            <h1>Hello!</h1>
         </div>
         <p>
            Welcome to an attempt at a blog site. This is a bit of knowledge-base, but will likely
            serve me more than anyone else.
         </p>
         <p>
            Here you'll find some write ups on topics that I find myself frequently forgetting,
            things I want to learn more in depth, or some areas where I just want to play around &
            try things out.
         </p>
         <p>
            Built using <a href="https://astro.build/" target="_blank">Astro 🚀</a> - highly recommend
            checking it out.
         </p>
         <div>
            <Carosel />
         </div>
      </main>
      <Footer />
   </body>
</html>
